{% extends 'header_footer.html' %}

{% block content %}

<header>
  <h1>Pre-Workshop Checklist</h1>
  <p>Preparing for in-person workshops</p>
</header>
<br>

<h1>Enrolled in a workshop and need help with setup?</h1>

<p> Use this checklist to make sure you have completed all the necessary steps.</p>

<p class="notice notice--info">
These are general guidelines, please check emails from the training team and description of the workshop for specific tools that need to be downloaded.
</p>


<section class="content-block content-block--2-cols">
  <div class="content-block__inner">
<h2> Command line</h2>

<form>
  <fieldset>
    <legend class="screenreaders-only">Command line requirements</legend>
    <ul class="checklist">
      <li>
        <input class="checkbox" id="ch0" type="checkbox">
        <label for="ch0">
          <span>
            If on a Linux or Mac, you should already have the Terminal application installed.
          </span>
        </label>
      </li>
      <li>
        <input class="checkbox" id="ch1" type="checkbox">
        <label for="ch1">
          <span>If on a PC, <a href=https://www.chiark.greenend.org.uk/~sgtatham/putty/latest.html>please install PuTTY.</a></span>
        </label>
      </li>
      <li>
        <input class="checkbox" id="ch2" type="checkbox">
        <label for="ch2">
          <span>Review that you have read the Nectar guide if using Nectar for the workshop</span>
        </label>
      </li>
    </ul>
  </fieldset>
</form>

<h2> R/Rstudio</h2>

<form>
  <fieldset>
    <legend class="screenreaders-only">Entry requirements</legend>
    <ul class="checklist">
      <li>
        <input class="checkbox" id="rh0" type="checkbox">
        <label for="rh0">
          <span>
            Install R
          </span>
        </label>
      </li>
      <li>
        <input class="checkbox" id="rh1" type="checkbox">
        <label for="rh1">
          <span>Install Rstudio</span>
        </label>
      </li>
      <li>
        <input class="checkbox" id="rh2" type="checkbox">
        <label for="rh2">
          <span>Install any necessary packages as outlined in your setup</span>
        </label>
      </li>
    </ul>
  </fieldset>
</form>

  </div>
</section>





Accordian for each of these?



PuTTY

VSCode




Galaxy

- Use your university email in order to gain 600GB of space
- You will need to activate your


Slack

- check that your



Download Slack



Finding your version of R

When you

<br>

<code>
  version
</code>


<br>

<code>
  install.packages()
</code>

<br>


FAQ

Can I join a workshop via Zoom?

Unless otherwise specified, workshops are in-person. If you have an accessibility requirement, please contact us so we can accomodate.


I'm not affiliated with the University of Melbourne or an associated institute. Can I still attend?


Workshops are currently

[link to map]

However, all of our training materials are available to


How often does Melbourne Bioinformatics run workshops?

The workshop I want to attend is full! Will it be run again soon?

High-demand introductory workshops tend to run multiple times a year.
However, some workshops only run once a year

Please contact us via our contact form or email



We recommend following our Eventbrite page and our social media accounts





I haven't received any emails from Slack.


I haven't received any emails from Galaxy.


I have an idea for a workshop. Who do I contact?





{% endblock %}
