{% extends 'header_footer.html' %}

{% block content %}

<header>
  <h1>Pre-Workshop Checklist</h1>
  <p>Preparing for in-person workshops run by Melbourne Bioinformatics</p>
</header>
<br>
<br>

<h2>Enrolled in a workshop and need help with setup?</h2>

<p> Use this checklist to make sure you have completed all the necessary steps.</p>

<p class="notice notice--info">
These are general guidelines, please check emails from the training team and description of the workshop for specific tools that need to be downloaded.
</p>



<form>
  <fieldset>
    <legend class="screenreaders-only">Checklist for workshops</legend>
    <ul class="checklist">
      <li>
        <input class="checkbox" id="c0" type="checkbox">
        <label for="c0">
          <span>
            Confirmed registration on Eventbrite using UoM-affiliated email address
          </span>
        </label>
      </li>
      <li>
        <input class="checkbox" id="c1" type="checkbox">
        <label for="c1">
          <span>Joined Slack channel for workshop</span>
        </label>
      </li>
      <li>
        <input class="checkbox" id="c2" type="checkbox">
        <label for="c2">
          <span>Installed all necessary software</span>
        </label>
      </li>
    </ul>
  </fieldset>
</form>

<br>

<h2>My workshop uses...</h2>

<section class="content-block">
<div class="grid">
  <div class="grid__col-1">
    <a href=#rstudio>
    <button class="button button--secondary" type="button">R</button>
    </a>
  </div>
  <div class="grid__col-3">
    <button class="button button--secondary" type="button">bash (command line)</button>
  </div>
  <div class="grid__col-2">
    <button class="button button--secondary" type="button">Galaxy</button>
  </div>
  <div class="grid__col-2">
    <button class="button button--secondary" type="button">git</button>
  </div>
    <div class="grid__col-2">
    <button class="button button--secondary" type="button">Python</button>
  </div>
</div>
</section>



<section class="content-block">
<div class="grid">
    <button class="button button--secondary" type="button">R</button>
    <button class="button button--secondary" type="button">bash (command line)</button>
    <button class="button button--secondary" type="button">Galaxy</button>
    <button class="button button--secondary" type="button">git</button>
    <button class="button button--secondary" type="button">Python</button>
</div>
</section>


<section class="content-block" id='rstudio'>

  <h2>R/RStudio</h2>

  <p>R is a very commonly used programming language.</p>

</section>

<section class="navigation-block-listing">
  <ul>
    <li>
      <ul>
        <li>
          <a href="#" class="button button--secondary" title="Lorum ipsum dolor sit amet">
            Lorem ipsum
          </a>
        </li>
        <li>
          <a href="#" class="button button--secondary" title="Aliquam tincidunt mauris eu risus">
            Lorem ipsum
          </a>
        </li>
        <li>
          <a href="#" class="button button--secondary" title="Morbi in sem quis dui placerat ornare">
            Lorem ipsum
          </a>
        </li>
      </ul>
    </li>
    <li>
      <ul>
        <li>
          <a href="#" class="button button--secondary" title="Lorum ipsum dolor sit amet">
            Lorem ipsum
          </a>
        </li>
        <li>
          <a href="#" class="button button--secondary" title="Aliquam tincidunt mauris eu risus">
            Lorem ipsum
          </a>
        </li>
        <li>
          <a href="#" class="button button--secondary" title="Morbi in sem quis dui placerat ornare">
            Lorem ipsum
          </a>
        </li>
      </ul>
    </li>
    <li>
      <ul>
        <li>
          <a href="#" class="button button--secondary" title="Lorum ipsum dolor sit amet">
            Lorem ipsum
          </a>
        </li>
        <li>
          <a href="#" class="button button--secondary" title="Aliquam tincidunt mauris eu risus">
            Lorem ipsum
          </a>
        </li>
        <li>
          <a href="#" class="button button--secondary" title="Morbi in sem quis dui placerat ornare">
            Lorem ipsum
          </a>
        </li>
      </ul>
    </li>
    <li>
      <ul>
        <li>
          <a href="#" class="button button--secondary" title="Lorum ipsum dolor sit amet">
            Lorem ipsum
          </a>
        </li>
        <li>
          <a href="#" class="button button--secondary" title="Aliquam tincidunt mauris eu risus">
            Lorem ipsum
          </a>
        </li>
        <li>
          <a href="#" class="button button--secondary" title="Morbi in sem quis dui placerat ornare">
            Lorem ipsum
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>



<section class="content-block content-block--2-cols">
  <div class="content-block__inner">
<h2> Command line</h2>

<form>
  <fieldset>
    <legend class="screenreaders-only">Command line requirements</legend>
    <ul class="checklist">
      <li>
        <input class="checkbox" id="ch0" type="checkbox">
        <label for="ch0">
          <span>
            <a hred=https://code.visualstudio.com/download>Install VSCode (if required)</a>
          </span>
        </label>
      </li>
      <li>
        <input class="checkbox" id="ch1" type="checkbox">
        <label for="ch1">
          <span>If on a PC, <a href=https://www.chiark.greenend.org.uk/~sgtatham/putty/latest.html>please install PuTTY.</a></span>
        </label>
      </li>
      <li>
        <input class="checkbox" id="ch2" type="checkbox">
        <label for="ch2">
          <span><a href="https://mbite.org/nectar-instances/logging-on-to-a-nectar-instance.html">Read the instructions for logging into Nectar.</a></span>
        </label>
      </li>
    </ul>
  </fieldset>
</form>

<h2> R/Rstudio</h2>

<form>
  <fieldset>
    <legend class="screenreaders-only">Entry requirements</legend>
    <ul class="checklist">
      <li>
        <input class="checkbox" id="rh0" type="checkbox">
        <label for="rh0">
          <span>
            Install R
          </span>
        </label>
      </li>
      <li>
        <input class="checkbox" id="rh1" type="checkbox">
        <label for="rh1">
          <span>Install Rstudio</span>
        </label>
      </li>
      <li>
        <input class="checkbox" id="rh2" type="checkbox">
        <label for="rh2">
          <span>Install any necessary packages as outlined in your setup</span>
        </label>
      </li>
    </ul>
  </fieldset>
</form>

  </div>
</section>





Accordian for each of these?



PuTTY

VSCode




Galaxy

- Use your university email in order to gain 600GB of space
- You will need to activate your


Slack

- check that your



Download Slack



Finding your version of R

When you

<br>

<code>
  version
</code>


<br>


<section class="content-block">
  <div class="content-block__inner">
    <h3>Installing Packages on R</h3>
    <p>
      Pariatur velit aliquip minim magna nulla quis laboris. Ex culpa
      consectetur anim irure velit eiusmod. Et sint consequat non nulla et
      consectetur esse commodo aliqua id non voluptate nisi consectetur.
    </p>
    <p>
      Ipsum pariatur commodo voluptate Lorem labore nostrud sunt reprehenderit
      magna velit amet sunt et non. Dolor deserunt et quis cupidatat cillum
      fugiat ipsum incididunt non ullamco.
    </p>
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit</li>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit</li>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit</li>
    </ul>

    <div class="grid">
  <div class="grid__col-4">
    <pre><code>
  install.packages()
</code></pre>


  </div>
</section>







<br>


<h2>Slack</h2>

<p>Melbourne Bioinformatics uses Slack to communicate with workshop participants before, during, after the workshop takes place.

It is also an important place

</p>


You can <a href=https://slack.com/intl/en-au/get>download Slack</a> or use Slack within the browser.



Workshops are currently

[link to map]

However, all of our training materials are available to


How often does Melbourne Bioinformatics run workshops?

The workshop I want to attend is full! Will it be run again soon?

High-demand introductory workshops tend to run multiple times a year.
However, some workshops only run once a year

Please contact us via our contact form or email

https://slack.com/intl/en-au/get


We recommend following our Eventbrite page and our social media accounts





I haven't received any emails from Slack.


I haven't received any emails from Galaxy.


I have an idea for a workshop. Who do I contact?





<h2>Frequently Asked Questions</h2>


<ul class="accordion">
  <li class="accordion__item">
    <h3 class="accordion__item-heading">
      <button aria-controls="accordion-simple-panel-1" aria-expanded="false" class="accordion__button" id="accordion-simple-button-1">
        <span class="accordion__title">
          Can I join a workshop via Zoom?
        </span>
      </button>
    </h3>
    <div aria-labelledby="accordion-simple-button-1" role="region" id="accordion-simple-panel-1" class="accordion__panel">
      <p>Unless otherwise specified, all workshops are conducted in-person. If you have accessibility requirements, please contact us so we can accomodate you.</p>
    </div>
  </li>
  <li class="accordion__item">
    <h3 class="accordion__item-heading">
      <button aria-controls="accordion-simple-panel-2" aria-expanded="false" class="accordion__button" id="accordion-simple-button-2">
        <span class="accordion__title">
          I'm not affiliated with the University of Melbourne or an associated institute. Can I still attend an in-person workshop?
        </span>
      </button>
    </h3>
    <div aria-labelledby="accordion-simple-button-2" role="region" id="accordion-simple-panel-2" class="accordion__panel">
      <p>
        In-person workshops are currently only available for those who affiliated with the University.
        <a href=https://mdhs.unimelb.edu.au/map>You can check this map for eligible institutes around the precinct.</a>
      </p>
    </div>
  </li>
  <li class="accordion__item">
    <h3 class="accordion__item-heading">
      <button aria-controls="accordion-simple-panel-3" aria-expanded="false" class="accordion__button" id="accordion-simple-button-3">
        <span class="accordion__title">
          Nostrud laborum Lorem nisi eu labore enim eu amet fugiat nulla dolor
          amet.
        </span>
      </button>
    </h3>
    <div aria-labelledby="accordion-simple-button-3" role="region" id="accordion-simple-panel-3" class="accordion__panel">
      <p>
        Laboris esse sunt nulla commodo magna aliqua est dolore labore labore in
        id cillum. Laborum est adipisicing duis officia anim commodo fugiat
        duis. Id veniam do sint cillum voluptate. Ullamco reprehenderit laboris
        ea culpa laborum amet irure. Deserunt magna laboris id commodo. Ad minim
        esse aute ex in sint cillum in Lorem voluptate est. Incididunt qui
        nostrud non ad. Culpa eiusmod reprehenderit irure eiusmod. Officia
        commodo excepteur cupidatat veniam dolor duis cillum id officia ut
        dolore. Incididunt voluptate aliquip laborum proident laborum amet
        deserunt ut nostrud nulla labore do officia proident. Enim id esse
        reprehenderit irure ullamco consectetur aliquip laborum fugiat proident.
        Non velit ea et esse Lorem occaecat occaecat excepteur incididunt.
        Commodo adipisicing amet aute do deserunt id laborum nulla. Ut aute
        exercitation irure ullamco sunt fugiat occaecat duis fugiat pariatur et
        laboris. Eu proident labore dolore minim anim ad fugiat labore est.
        Irure nostrud esse id et incididunt cupidatat consectetur consequat
        adipisicing culpa. Excepteur dolore deserunt nulla non ea elit eiusmod
        ea eiusmod incididunt exercitation. Mollit dolore veniam quis excepteur
        exercitation excepteur elit pariatur reprehenderit id.
      </p>
    </div>
  </li>
</ul>







{% endblock %}
