{% extends 'header_footer.html' %}

{% block content %}


<header>
  <h1>The Galaxy Platform</h1>
  <p>A cloud-based platform for bioinformatics workflows</p>
</header>

<br>

<div class="with-figure">
  <a href=https://usegalaxy.org.au/>
  <figure class="figure figure--right">
    <img alt="Galaxy" class="figure__content"
    style="width=200px"
    src="https://images.squarespace-cdn.com/content/v1/5d3a4213cf4f5b00014ea1db/1700534056424-5JI5O0G84OIR7WF1JBOH/Galaxy-Aust-Logo-Horizontal-RGB.png">
  </figure></a>



<h2>Galaxy Australia</h2>

<p>Galaxy Australia is a free, web-based platform that provides researchers with access to a comprehensive suite of bioinformatics tools and workflows.
As part of the global Galaxy Project, Galaxy Australia is one of the global <a href=https://galaxyproject.org/use/>usegalaxy.* servers</a>.
It offers a user-friendly interface for complex data analysis in genomics, proteomics, and other life science fields.</p>

<h3>Key Features</h3>

<ul>
    <li><strong>Accessible</strong>: No software installation required - all tools are available through a web browser</li>
    <li><strong>Comprehensive</strong>: Hosts over 800 bioinformatics tools and workflows</li>
    <li><strong>User-friendly</strong>: Intuitive interface suitable for both beginners and experienced researchers</li>
    <li><strong>Collaborative</strong>: Enables sharing of workflows and results with colleagues</li>
    <li><strong>Scalable</strong>: Leverages Australian national computing infrastructure for high-performance analysis</li>
    <li><strong>Free</strong>: Open to all Australian researchers and their international collaborators</li>
</ul>

<h3>Benefits</h3>

<ul>
    <li>Accelerates research by providing ready access to advanced bioinformatics capabilities</li>
    <li>Promotes reproducibility in science through shareable, documented workflows</li>
    <li>Supports a wide range of research areas, including genomics, transcriptomics, and metagenomics</li>
    <li>Offers training and support to help researchers make the most of the platform</li>
</ul>

<p>Galaxy Australia is a key component of the Australian BioCommons infrastructure, supporting life science research across the country and fostering international collaboration in bioinformatics.</p>

</div>




<p></p>





<h3>Galaxy Resources</h3>

<ul class="simple-listing simple-listing--two">
  <li class="simple-listing__item">
    <a class="simple-listing__link" href="https://training.galaxyproject.org/">
      <div class="simple-listing__img" style="
          background-image: url('https://github.com/galaxyproject/training-material/blob/main/assets/branding/gtn-logo.png?raw=true'); background-repeat: no-repeat; background-size: auto 50%;"></div>
      <h3 class="simple-listing__heading">Galaxy Training Network (GTN)</h3>
      <p>Want hands-on training for everything Galaxy and beyond? The GTN has you covered! </p>
    </a>
  </li>
  <li class="simple-listing__item">
    <a class="simple-listing__link" href="https://iwc.galaxyproject.org/">
      <div class="simple-listing__img"
      style="background-image: url('https://github.com/galaxyproject/iwc/blob/main/website/public/iwc_logo.png?raw=true'); background-repeat: no-repeat; background-size: auto 50%"></div>
      <h3 class="simple-listing__heading">Galaxy IWC - Workflow Library</h3>
      <p>
        Library of ready-to-use bioinformatics workflows for use with Galaxy
      </p>
    </a>
  </li>
</ul>




{% endblock %}
