{% extends 'header_footer.html' %}

{% block content %}


<header>
  <h1>MBITE</h1>
  <p>The home of training material developed and curated by Melbourne Bioinformatics</p>
</header>


<br>
<div class="grid grid--cols-2">
  <div class="facts-card facts-card--bdr">
    <div class="facts-card__inner">
      <p class="facts-card__header">In-person workshops</p>
      <p class="facts-card__subtitle">For UniMelb staff, students, and affiliates</p>
      <p class="facts-card__excerpt">

      <a href='https://www.eventbrite.com.au/o/melbourne-bioinformatics-13058846490'>
        Visit our Eventbrite page to sign-up for available workshops</a>
      </p>
    </div>
  </div>
  <div class="facts-card facts-card--bdr">
    <div class="facts-card__inner">
      <p class="facts-card__header">Online training materials</p>
      <p class="facts-card__subtitle">For everyone!</p>
      <p class="facts-card__excerpt">
        <a href="/guides/training-materials">Go through a wide selection of material on your own.</a>
      </p>
    </div>
  </div>
</div>

<section class="content-block">
  <div class="content-block__inner">
    <h3>Who we are</h3>
    <p>
      Welcome to <b>M</b>elbourne <b>B</b>io<b>I</b>nformatics <b>T</b>raining and <b>E</b>ducation (MBITE),
      a bioinformatics training resource developed by expert bioinformaticians at
      Melbourne Bioinformatics. Our training team is dedicated to providing high-quality
      training and resources to students, staff, and affiliates of the University of Melbourne and beyond!
      Whether you are new to programming or looking to enhance your data analysis skills,
      our wide range of workshops and online materials are designed to support you in
      your learning and research goals.
    </p>

  </div>
</section>



{% endblock %}
