{% extends 'header_footer.html' %}

{% block content %}

<header>
  <h1>In-person workshops</h1>
</header>
<br>


<h2>Before you sign up</h2>

<h3>Eligibility</h3>

<p>Our workshops are open to University students and staff and those at affiliated institutes around the Parkville biomedical precinct.


Not sure if you're at an affiliated institute? <a href='https://mdhs.unimelb.edu.au/map'>Click here to check out a handy map.</a>

If you are still unsure whether your institute is affiliated, please contact us for confirmation.</p>

<p>We currently are unable to accommodate students from other universities unless there is an existing affiliation or agreement in place. If you are unsure, please contact us to discuss eligibility.</p>


<p>
For students at Monash University, you can utilise the training resources available through the <a href="https://www.monash.edu/researchinfrastructure/bioinformatics/training">Monash University Bioinformatics Platform</a>.

For all other researchers in Australia, please see the <a href='https://www.biocommons.org.au/webinars-workshops'>Australian BioCommons upcoming events page </a>
 for national training opportunities.
</p>


<h3>Location</h3>

<p>Our workshops are typically in-person near the University of Melbourne.

If you cannot make an in-person workshop, you can join a virtual alternative where available, request access to materials, or contact the organisers to discuss alternative arrangements.

If you need an accessibility accommodation, please contact us directly. We are happy to discuss reasonable adjustments to support your participation; contact details are available on the registration page.


</p>





<!-------

<section class="content-block">
  <div class="grid">
    <div class="grid__col-6">

<iframe src="https://www.eventbrite.com/o/13058846490" width="100%" height="500px">
  <p>Your browser does not support iframes.</p>
</iframe>

    </div>
    <div class="grid__col-6">

    </div>
  </div>
</section>

--->





<h3>How to sign up</h3>

<p>You can find our workshop listings and upcoming events on Eventbrite and the University Researcher Development Events page.

Find other workshops within the university through <a href="https://rduevents.unimelb.edu.au/">the Researcher Development Events page</a>.</p>

<p>Please include your institutional email address when registering so we can verify eligibility and send important pre-workshop information.

If you do not complete all of the required information on the order form, your registration will not be confirmed and your place may be offered to someone on the waiting list.

Prior to signing up to the workshop, please review our <a href="https://mbite.mdhs.unimelb.edu.au/guides/policy/">attendance policy document</a> so you are aware of cancellation and attendance requirements.
</p>



<h3>After you sign up</h3>

<p>After you register, check the requirements listed on the event page as well as the <a href="https://mbite.mdhs.unimelb.edu.au/guides/checklist/">pre-workshop checklist</a> to make sure you are prepared. Typical items include:
</p>

<ul>
  <li>Bringing a laptop with sufficient battery and charger.</li>
  <li>Installing any required software or packages in advance.</li>
  <li>Access to training materials and the dedicated Slack channel.</li>
  <li>Arriving 5-10 minutes early to find the workshop location and set up.</li>
</ul>

<p>If you have questions about prep, please contact us before the workshop starts.</p>

<h3>Can't find a workshop you're interested in?</h3>


<p>Fill out our <a href='https://mdhs.unimelb.edu.au/melbournebioinformatics/about-us/enquiries'>enquiries form </a>to request a particular topic, suggest a workshop, or ask about running a tailored training session.

We are keen to hear from you and welcome suggestions for new topics and formats.
</p>

<h3>Get involved</h3>


<p>We regularly collaborate with colleagues within the biomedical precinct who deliver specialised training, host sessions, or contribute teaching materials. If you would like to propose a collaboration, guest lecture, or run a tailored workshop for your group, please get in touch with us.

</p>

<br>
{% endblock %}
