{% extends 'header_footer.html' %}

{% block content %}

<header>
  <h1>Workshop Attendance Policy</h1>
  <p>Effective Date: 1st August 2025</p>
</header>
<br>
<h2>1. Introduction</h2>


<p>This policy outlines the attendance expectations for participants in our bioinformatics workshops. It aims to ensure fair access to our workshops for all interested parties and to maximize the utilization of our resources.</p>


<h2>2. No-Show Policy</h2>

<h3>2.1 Definition of a No-Show</h3>

<p>A "no-show" is defined as:</p>

<ul>
  <li>
Failure to attend a workshop without cancelling at least 48 hours in advance
  </li>
  <li>
Failure to attend at least 50% of a workshop's duration
  </li>
</ul>


<h3>2.2 No-Show Consequences</h3>

<p>Effective 1st August 2025, the following policy will be implemented:</p>

<ul>
  <li>
    Participants who accumulate two or more no-shows within a 12-month period may be de-prioritised for registration in future workshops that reach full capacity.
  </li>
</ul>


<h3>2.3 De-prioritisation Process</h3>

<ul>
  <li>De-prioritised individuals may be removed from the list of attendees and instructed to join the waitlist.</li>
  <li>They may still register for other workshops with available spots.</li>
  <li>The de-prioritisation period will last for 6 months from the date of the second no-show.</li>

</ul>


<h2>3. Cancellation Policy</h2>
To avoid being marked as a no-show:

<ul>
  <li>Participants must cancel their registration at least 48 hours before the workshop start time.</li>
  <li>Cancellations should be made through Eventbrite or by emailing the Melbourne Bioinformatics training email (bioinformatics-training@unimelb.edu.au)
</li>
</ul>

<h2>4. Exceptions</h2>
<p>Exceptions to this policy may be granted in cases of:</p>


<ul>
  <li>
Medical emergencies
  </li>
    <li>
Family emergencies
  </li>
    <li>
Unforeseen work conflicts
  </li>

</ul>


<p>Documentation may be required for exceptions.</p>

<h2>5. Reinstatement</h2>

<p>After the 6-month de-prioritisation period, participants will automatically regain normal registration priority status.
</p>

<h2>6. Workshop Reminders</h2>
<p>To help participants avoid unintentional no-shows:</p>

<ul>
  <li>
 Email reminders will be sent the Monday before each workshop.
  </li>
    <li>
Participants are encouraged to add workshop dates to their personal calendars upon registration.

  </li>

</ul>


<h2>7. Policy Review</h2>

<p>This policy will be reviewed annually to ensure its effectiveness and fairness.
</p>

{% endblock %}
