{% extends 'header_footer.html' %}

{% block content %}

<header>
  <h1>Graduate Student Training Program</h1>
  <p></p>
</header>

<br>

<h2> Overview </h2>

<p>The Melbourne Bioinformatics training program is a year-long, paid opportunity for students to
learn about and contribute to the growing field of knowledge in bioinformatics as well as
develop their leadership and scientific communication skills. Students will then be able to
apply these skills as workshop facilitators and leads throughout the program. </p>

<h2> Learning Objectives </h2>

<ul>
  <li>
Develop proficiency in programming languages commonly used in bioinformatics (e.g.,
Python, R)
  </li>
  <li>
Design eEective learning outcomes and create engaging material for bioinformatics
workshops
  </li>
  <li>
Develop skills in explaining complex bioinformatics concepts to diverse audiences
  </li>
    <li>
Develop project management skills, including planning, time management, and
resource allocation
  </li>
</ul>

<h2> Eligibility </h2>


<ul>
  <li>
Participants in the program must be current graduate students (inc. Master's by
coursework students) in good standing and enrolled at the University of Melbourne.
<ul>
      <li>
Students who are “at risk” status, awaiting a CAPC meeting, or subject to a
points restriction on subject enrolments are not eligible to apply.
      </li>
    </ul>
  </li>
  <li>
Applicants should be available for in person attendance throughout April to early
December of the application year
  </li>

</ul>


<h2> Selection criteria </h2>

<p> No bioinformatics skills or teaching experience is required for consideration into the program. If
oEered a place in the program, successful participants must submit relevant documents to the
training lead upon acceptance:</p>

<p> Current Master’s students must submit a current Statement of Results and, if currently
enrolled a research project subject, submit written permission from their research
project supervisor.</p>
<p>Current PhD students must submit written permission from their primary supervisor.
Students may submit their thesis during the duration of the program as long as they are able to
fulfill their obligations to the program. Students must be able to attend in-person workshops
and meetings throughout the year.</p>


<h2>Time Commitment</h2>

<p>
  You will be expected to spend between 30-50 hours throughout the duration of the program on
meetings, training activities, and workshop facilitation/leading. The program is designed to be
intentionally flexible to accommodate demands on students’ time from coursework classes,
assessments, research activities and meetings with supervisors. Breaks/holidays can also be
accommodated as part of the program. However, any planned extended break (1+ months)
should be discussed with the training lead.</p>

<p>

Program associates will be expected to facilitate/assist at least 2 workshops as well as lead at
least 1 workshop by the end of the program. The workshop you lead can be content which has
already been developed by Melbourne Bioinformatics or can be developed by you based on your
own research or a relevant area of your expertise. Topics for workshop development will be
discussed with successful applicants.
</p>

<h2>Timeline of Program</h2>

<dl class="timeline">
  <dt><strong>February</strong></dt>
  <dd>
    <p>
      Applications open
    </p>
  </dd>
  <dt><strong>March</strong></dt>
  <dd>
    <p>
      Applications are reviewed and offers are extended
    </p>
  </dd>
  <dt><strong>April</strong></dt>
  <dd>
    <p>
      Program officially starts
    </p>
  </dd>
  <dt><strong>May</strong></dt>
  <dd>
    <p>
      Initial training activities take place
    </p>
  </dd>
    <dt><strong>June</strong></dt>
  <dd>
    <p>
      Placeholder
    </p>
  </dd>
      <dt><strong>July</strong></dt>
  <dd>
    <p>
      Placeholder
    </p>
  </dd>
      <dt><strong>August</strong></dt>
  <dd>
    <p>
      Placeholder
    </p>
  </dd>
      <dt><strong>September</strong></dt>
  <dd>
    <p>
      Placeholder
    </p>
  </dd>
      <dt><strong>October</strong></dt>
  <dd>
    <p>
      Placeholder
    </p>
  </dd>
      <dt><strong>November</strong></dt>
  <dd>
    <p>
      Placeholder
    </p>
  </dd>
      <dt><strong>December</strong></dt>
  <dd>
    <p>
      Program officially ends
    </p>
  </dd>
</dl>

<p><i>Note: dates may be subject to change year-to-year</i></p>


<h3> Special thanks </h3>

<p> This program has been funded by the MDHS Graduate Research Development grant. </p>

<br>
{% endblock %}
