/* the bar across the top */
.md-header {
	background: #000F46;
	color: #FFFFFF;
	border-bottom: none;
}

.md-header-nav__parent {
	color: #2fa4e7;
}

.md-search__form:hover {
	background-color: #000F46;
}

.md-footer {
  background-color: #000F46;
  color: #FFFFFF;
}

/* Dark mode footer background for slate theme */
[data-md-color-scheme="slate"] .md-footer-meta {
  background-color: #000F46;
  color: #FFFFFF;
}

[data-md-color-scheme="slate"] .md-footer-meta a {
  color: #FFFFFF;
}
[data-md-color-scheme="slate"] .md-footer-meta a:hover {
  color: #46C8F0;
}


/* Make sure links in the footer are visible */
.md-footer a {
  color: #FFFFFF;
}
.md-footer a:hover {
  color: #46C8F0; /* optional: highlight on hover */
}


.icon-bar {
	background-color: #555 !important;
}

.navbar-default .navbar-brand, .navbar-default:hover .navbar-brand:hover {
	color: #003C55;
}

.navbar-default .navbar-nav > li > a {
	color: #003C55;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #46C8F0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: #46C8F0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #46C8F0;
}

/* the menu items */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #46C8F0;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #46C8F0;
}
/*
These style abbreviations are as follows:
SS = "screen shot" for menu items etc.
FN = filename
TX = text
*/

SS {
  font-family: "Lucida Grande", sans-serif;
  font-size: 80%;
  font-weight: bolder;
  color: #000F46;
  text-align: center;
  border-radius: 5px;
  background: #C8C8C8;
  padding: 0.3ex 1ex;

}

FN {
  font-family: "Lucida Grande", sans-serif;
  font-size: 80%;
  color: #000F46;
  text-align: center;
  padding: 0.3ex 1ex;
  border: solid thin #000F46;
  border-radius: 4px;
}

TX {
  font-family: monospace;
  font-weight: bolder;
}
