<footer aria-label="University of Melbourne footer" class="page-footer">
  <div class="page-footer__acknowledgement bg-primary-75">
    <div class="page-footer__inner">
      <div class="grid">
        <div class="grid__col-sm-4 grid__col-md-3">
          <p class="page-footer__acknowledgement-title">
            Acknowledgement of Country
          </p>
          <div class="page-footer__flags">
            <a class="logo-indigenous" href="https://www.unimelb.edu.au/reconciliation" aria-label="We acknowledge Torres Strait Islander people as the Traditional Owners of the unceded lands on which we work, learn and live."></a>
            <a class="logo-torres" href="https://www.unimelb.edu.au/reconciliation" aria-label="We acknowledge Aboriginal people as the Traditional Owners of the unceded lands on which we work, learn and live."></a>
          </div>
        </div>
        <div class="grid__col-sm-8 grid__col-md-9">
          <p>
            We acknowledge Aboriginal and Torres Strait Islander people as the
            Traditional Owners of the unceded lands on which we work, learn and
            live. We pay respect to Elders past, present and future, and
            acknowledge the importance of Indigenous knowledge in the Academy.
          </p>
          <a class="button button--text" href="https://www.unimelb.edu.au/reconciliation">
            Read about our Indigenous priorities
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="page-footer__content bg-primary">
    <div class="page-footer__inner">
      <h2 class="screenreaders-only">Site footer</h2>
      <div class="grid">
        <div class="grid__col-sm-4 grid__col-md-3">
          <ul class="page-footer__links">
            <li class="page-footer__links-item">
              <a class="button button--text" href="https://about.unimelb.edu.au/">
                About us
              </a>
            </li>
            <li class="page-footer__links-item">
              <a class="button button--text" href="https://about.unimelb.edu.au/careers">
                Careers at Melbourne
              </a>
            </li>
            <li class="page-footer__links-item">
              <a class="button button--text" href="https://www.unimelb.edu.au/respect">
                Safety and respect
              </a>
            </li>
            <li class="page-footer__links-item">
              <a class="button button--text" href="https://www.unimelb.edu.au/newsroom">
                Newsroom
              </a>
            </li>
            <li class="page-footer__links-item">
              <a class="button button--text" href="https://www.unimelb.edu.au/contact">
                Contact
              </a>
            </li>
            <li class="page-footer__links-item">
              <a class="button button--text" href="https://about.unimelb.edu.au/priorities-and-partnerships/campus-development/campus-locations">
                Campus locations
              </a>
            </li>
          </ul>
        </div>
        <div class="grid__col-sm-4 grid__col-md-3">
          <div class="page-footer__contact">
            <p class="page-footer__contact-heading">Contact details</p>
            <div class="page-footer__contact-details">
              <div>
                <strong>Phone</strong>
                <a href="tel:13 6352">13 MELB (13 6352)</a>
                <br>
              </div>
              <div>
                <strong>International</strong>
                <a href="tel:+61 3 9035 5511">+61 3 9035 5511</a>
              </div>
            </div>
            <div>
              <p>
                <strong>Address</strong>
                <br>
                The University of Melbourne
                <br>
                Grattan Street, Parkville
                <br>
                Victoria 3010
                <br>
                Australia
              </p>
            </div>
          </div>
        </div>
        <div class="grid__col-sm-4 grid__col-md-6">
          <div class="grid">
            <div class="grid__col-10 grid__col-md-6">
              <div class="page-footer__contact">
                <p class="page-footer__contact-heading">Connect with us</p>
                <ul class="page-footer__social">
                  <li class="page-footer__social-item">
                    <a href="https://www.facebook.com/unimelb" target="_blank">
                      <span class="screenreaders-only">Facebook</span>
                      <span data-icon="facebook" data-size="md" data-hide-label="true">
                        Share on Facebook
                      </span>
                    </a>
                  </li>
                  <li class="page-footer__social-item">
                    <a href="https://www.linkedin.com/school/university-of-melbourne" target="_blank">
                      <span class="screenreaders-only">LinkedIn</span>
                      <span data-icon="linkedin" data-size="md" data-hide-label="true">
                        Share on LinkedIn
                      </span>
                    </a>
                  </li>
                  <li class="page-footer__social-item">
                    <a href="https://www.instagram.com/unimelb" target="_blank">
                      <span class="screenreaders-only">Instagram</span>
                      <span data-icon="instagram" data-size="md" data-hide-label="true">
                        Share on Instagram
                      </span>
                    </a>
                  </li>
                  <li class="page-footer__social-item">
                    <a href="https://twitter.com/unimelb" target="_blank">
                      <span class="screenreaders-only">Twitter</span>
                      <span data-icon="twitter" data-size="md" data-hide-label="true">
                        Share on Twitter
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="grid__col-10 grid__col-md-6">
              <div class="page-footer__logo">
                <a href="https://www.unimelb.edu.au" class="logo logo--unhoused logo--xl" aria-label="The University of Melbourne homepage"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-footer__disclaimer bg-secondary">
    <div class="page-footer__inner">
      <div class="grid">
        <div class="grid__col-md-4">
          <ul class="page-footer__legal">
            <li class="page-footer__legal-item">
              <a href="https://safety.unimelb.edu.au/emergency">Emergency</a>
            </li>
            <li class="page-footer__legal-item">
              <a href="https://www.unimelb.edu.au/legal">Terms &amp; privacy</a>
            </li>
            <li class="page-footer__legal-item">
              <a href="https://www.unimelb.edu.au/accessibility">
                Accessibility
              </a>
            </li>
            <li class="page-footer__legal-item">
              <a href="https://about.unimelb.edu.au/strategy/governance/compliance-obligations/privacy">
                Privacy
              </a>
            </li>
          </ul>
        </div>
        <div class="grid__col-md-8">
          <ul class="page-footer__important">
            <li class="page-footer__important-item">
              The University of Melbourne (Australian University):
              <strong>PRV12150</strong>
            </li>
            <li class="page-footer__important-item">
              CRICOS number:
              <strong>00116K</strong>
            </li>
            <li class="page-footer__important-item">
              ABN:
              <strong>84 002 705 224</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<link rel="stylesheet" href="//dds-gen3.web.unimelb.edu.au/v15.9.0/uom.css" />
<script src="//dds-gen3.web.unimelb.edu.au/v15.9.0/uom.js"></script>
