@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
h1 {
  color: rgb(21, 148, 205)
}
blockquote {
  font-style: italic;
}
img {
  max-width: 100%;
}
.content pre {
  padding: 0;
}
.img-half {
  text-align: center;
}
.img-half img {
  max-width: 50%;
}
.message-body ul {
  margin-top: 0;
}
.remark-slide-content {
  /*background-color: rgb(21, 148, 205) /* rgb(52, 138, 189) */
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
