name: redeploy website
on:
  push:
    branches: 
      - master

jobs:
  test-build:
    runs-on: ubuntu-20.04
    steps:

      # Check out the code
      - name: Checkout master branch
        uses: actions/checkout@v4

      # Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Test building the website
      - name: Build website
        run: mkdocs build --strict

  deploy:
    runs-on: ubuntu-20.04
    needs: test-build  # This ensures that the deploy job runs after the test-build job completes
    steps:

      # Check out the code
      - name: Checkout master branch
        uses: actions/checkout@v4

      # Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      # Build and deploy the website
      - name: Generate + deploy website
        run: mkdocs gh-deploy --force
